@import "tailwindcss";

:root {
  --primary: #16a34a;      /* Vert islamique */
  --secondary: #0ea5e9;    /* Bleu ciel */
  --accent: #f59e0b;       /* Or/Jaune pour bonus */
  --success: #22c55e;      /* Vert succès */
  --error: #ef4444;        /* Rouge erreur */
  --neutral: #64748b;      /* Gris neutre */
  --background: #f8fafc;   /* Fond clair */
}

@theme inline {
  
}


body {
 
  background-color: var(--body);
}
